@charset "UTF-8";
/*3. 클래스 선택자*/
.logo{
	text-align:center;
	margin: 0;
	padding: 50px;
	
	
}
.nav {
	background-color: #005891;
	font-size: 20px;
	font-weight: bold;
	
}
.nav ul {
	text-align: center;
	
}
             /*css 의 규칙이 하나의 요소에 충돌했을 때 우선 순위를 결정하는 방법*/
.nav li{/*ul.nav : 종속 선택자 , (공백): 후손 */
	display: inline-block; /*inline-block 차이를 알자!*/
	margin:0 10px;/*(바깥) 여백: 값*/
}
.nav li:hover{
	background-color: black;
}
.nav a{
	color:white;
	
	
}
.nav a:hover{ /*hand over => hover*/
	color: #fcff00;
}
.promotion{
	text-align: center;
	margin-top: 30px;
}
.official{
	
	width: 600px;
	margin: 50px auto;
	font-size:0;
	
	
	
}
.social{
	text-align: center;
	margin-top: 50px;
	
	
}
.contact{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}





/*4. 아이디 선택자*/
/*5. 그룹 선택자*/


.official h1, .official p{
	text-align: center;
	
	
}
.title{
	margin:0!important;
}
h1,h2,p{
	text-align:center;
	margin: 30px 0;
	
}
/*6. 의사 선택자*/
/*7. 자손(=후손) 선택자*/
.official h1{
	font-size: 22px;
	
}

.official p {
	
	font-size: 16px;
	font-weight:bold;
	
	margin:10px 0 20px;/*바깥 여백: 상 10 좌우 0 하20픽셀*/
	
}



/*=====brand story============*/
.main{
	margin:0 5%;
}


/*.promotion img{
	width: 100%;
	object-fit: cover;
}*/
.story{
	
	display:flex;
	justify-content:center;
	gap: 0 38px;
	
	
	/*max-width:1536px;
	background-color:orange;*/
	/*flex-direction:row;
	flex-direction:colum;
	flex-contstiner*/
}
.story_text p {
	text-align: left;/*텍스트_왼쪽*/
}
.value_data ul {
	display:flex;
	justify-content: space-between;/*공간사이사이를 일정하게*/
	/*justify-content: space-around;/*공간사이사이를 일정하게*/
	/*justify-content: space-evenly;*/
	
	
	
}


.value_data h2{
	font-size:22px;
	font-weight:normal;
	
}
.value_data p{
	font-size: 40px;
	
}
.family_items ul{
	display:flex;
	justify-content: center;	
}
.family_items {
	display:flex;
	justify-content: center;
	justify-content: space-between;		
}
.family_items p{
	font-size:30px;
	
}
.family_items img{
	width:80%;
	object-fit:cover;
}
.partner_names{
	display:flex;
	justify-content: center;
	justify-content: space-between;	
}
.partner_names p{
	font-size:30px;
}

.partner_list{
	display:flex;
	justify-content: center;
	justify-content: space-between;	
}
ul{
	list-style-type:none;
}