@charset "UTF-8";
/*3. 클래스 선택자*/
.logo{
	text-align:center;
	margin: 0;
	padding: 50px;
	
	
}
.nav {
	background-color: #005891;
	font-size: 20px;
	font-weight: bold;
	
}
.nav ul {
	text-align: center;
	
}
             /*css 의 규칙이 하나의 요소에 충돌했을 때 우선 순위를 결정하는 방법*/
.nav li{/*ul.nav : 종속 선택자 , (공백): 후손 */
	display: inline-block; /*inline-block 차이를 알자!*/
	margin:0 10px;/*(바깥) 여백: 값*/
}
.nav li:hover{
	background-color: black;
}
.nav a{
	color:white;
	
	
}
.nav a:hover{ /*hand over => hover*/
	color: #fcff00;
}
.promotion{
	text-align: center;
	margin-top: 30px;
}
.official{
	
	width: 600px;
	margin: 50px auto;
	font-size:0;
	
	
	
}
.social{
	text-align: center;
	margin-top: 50px;
	
	
}
.contact{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}





/*4. 아이디 선택자*/
/*5. 그룹 선택자*/


.official h1, .official p{
	text-align: center;
	
	
}
.title{
	margin:0!important;
}
h1,h2,p{
	text-align:center;
	margin: 30px 0;
}
/*6. 의사 선택자*/
/*7. 자손(=후손) 선택자*/
.official h1{
	font-size: 22px;
	
}

.official p {
	
	font-size: 16px;
	font-weight:bold;
	
	margin:10px 0 20px;/*바깥 여백: 상 10 좌우 0 하20픽셀*/
	
}

